.page-image-upload {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 146px;
  width: 100vw;
  height: 100vh;
  background-color: #FFE1BA;
  .page-image-title {
    width: 677px;
    height: 272px;
  }
  .image-upload-container {
    position: relative;
    width: 750px;
    height: 755px;
    .image-upload-content {
      position: absolute;
      left: 50%;
      top: 110px;
      transform: translate(-50%, 0);
      width: 634px;
      height: 600px;
      background: #564E3C;
      z-index: 1;
      .image-upload-result {
        width: 100%;
        height: 100%;
        .image-target {
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          width: 512px;
          max-height: 575px;
        }
        .image-scan-line {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translateX(-50%);
          width: 100%;
          height: 2px;
          opacity: 0.6;
          animation: scanAnimation 5s linear infinite;
          box-shadow: 0 0 60px 0 rgba(255, 255, 0, 0.4);
          background: linear-gradient(to bottom, rgba(255, 255, 0, 0.6), transparent);
        }
      }
      .image-upload {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 140px;
        height: auto;
        .icon-upload {
          font-size: 64px;
          color: #FFFFFF;
        }
        .image-upload-text {
          margin-top: 20px;
          font-size: 28px;
          color: #FFFFFF;
        }
      }
    }
    .image-upload-ipt {
      display: block;
      position: absolute;
      left: 50%;
      top: 0;
      transform: translate(-50%, 0);
      width: 100%;
      height: 100%;
      z-index: 10;
    }
  }
  .image-upload-operation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    .image-upload-btn {
      width: 510px;
      height: 165px;
      animation: pulse 2s infinite;
    }
    .image-upload-hint {
      width: 100vw;
      height: 32px;
      line-height: 32px;
      font-size: 22px;
      margin-top: 24px;
      color: #000000;
      text-align: center;
    }
    .image-upload-steps {
      width: 603px;
      height: 185px;
      margin-top: 16px;
    }
  }
  .image-progress-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    .image-progress-text {
      width: 100%;
      height: 48px;
      line-height: 48px;
      font-size: 28px;
      color: #784742;
      text-align: center;
    }
    .image-progress-bar {
      margin-top: 8px;
      width: 648px;
      height: 44px;
    }
  }
  .image-ad-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    padding-top: 30px;
    .image-btn-ad {
      width: 512px;
      height: 153px;
      animation: pulse 2s infinite;
    }
    .image-btn-choose {
      margin-top: 30px;
      width: 510px;
      height: 30px;
      font-size: 24px;
      color: #000000;
      text-align: center;
    }
  }
}

@keyframes pulse {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
}

@keyframes scanAnimation {
  0%, 100% {
    top: 0;
  }
  50% {
    top: calc(100% - 2px);
  }
}
