.page-image-result {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 146px;
  width: 100vw;
  height: 100vh;
  background-color: #FFE1BA;
  .page-image-title {
    width: 677px;
    height: 272px;
  }
  .image-result-container {
    position: relative;
    width: 750px;
    height: 755px;
    .image-result-ipt {
      display: block;
      position: absolute;
      left: 50%;
      top: 0;
      transform: translate(-50%, 0);
      width: 100%;
      height: 100%;
      z-index: 10;
    }
    .image-result {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      position: absolute;
      left: 60px;
      top: 115px;
      width: 634px;
      max-height: 580px;
      z-index: 20;
      .image-target {
        width: 512px;
        max-height: 580px;
      }
    }
  }
  .image-result-btn-regenerate {
    width: 437px;
    height: 138px;
    margin-top: 16px;
  }
  .image-result-btn-download {
    width: 437px;
    height: 139px;
    margin-top: 16px;
  }
}

@keyframes pulse {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
}

